@using SimpleLibrary.CustomAuth
@if (SessionProvider.IsLoggedIn)
{

    <ul class="nav navbar-nav navbar-right">
        <li style="color: white; top: 15px;">
            Hello @SessionProvider.Current.Username!
        </li>
        <li>@(Html.ActionLink("Log out", "LogOut", "Account"))</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Registration", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}